.library {
    margin-top: 70px;
}
.playlist {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 30px;
}
.cover {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0 0 0 10px;
    box-shadow: 0px 10px 15px #0e0e0e;
}
.subtitle {
    margin-top: 48px;
    margin-left: 20px; 
    margin-bottom: 0px;
    font-size: 13px; 
    color: white;
    cursor: default;
    letter-spacing: 2px;
}
.title {
    margin-left: 20px; 
    margin-bottom: 10px;
    color: white; 
    font-weight: bolder;
    font-size: 50px;
    line-height: 50px;
}
.author {
    margin-left: 20px; 
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 13px; 
    color: #b6b6b6;
    cursor: default;
}
.author strong {
    color: white;
}
.author strong:hover {
    border-bottom: solid 1px white;
}

.play-button {
    background-color: rgb(27, 172, 80);
    border-width: 0; 
    outline: none;
    cursor: default; 
    margin-left: 20px;
    margin-top: 0;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    height: 35px;
    width: 110px;
    border-radius: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.play-button:hover {
    background-color: rgb(24, 214, 94);
    color: white;
    width: 120px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table{
    border-color: transparent !important;
}
.row:hover{
    background-color: rgba(255, 255, 255, 0.1);
    
}
.column{
    border-color: rgba(255, 255, 255, 0.1) !important;
}
.columnTitle{
    font-size: 13px; 
    color: #b6b6b6;
    cursor: default;
    letter-spacing: 2px;
}
.columnTitle:hover{
    color: white;
}
.columnData{
    font-size: 13px;
    color: white;
    cursor: default;
}
.play-music{
    width: 25px;
    opacity: 0.6;
}
.play-music:hover{
    opacity: 1;
}
.calendar{
    width: 15px;
    opacity: 0.6;
}
.calendar:hover{
    opacity: 1;
}