.navbar {
    width: 85vw;
    background-color: transparent;
    height: 50px;
    position: fixed;
    align-items: center;
    display: flex;
    z-index: 5;
}
.avatar {
    width: 30px; 
    height: 30px;
    margin: auto 10px auto auto;
    border-radius: 100%;
}
.name {
    margin: auto 20px auto 0px;
    color: white;
    font-size: 14px;
}
.name:hover {
    color: white;
    border-bottom: solid 1px white;
    margin-right: 20px;
    cursor: default;
}
.arrow-down {
    width: 20px; 
    margin: auto 20px auto 0px;
    outline: none;
}

.cascade {
    background-color: #2f2f2f !important;
    width: auto !important;
    height: 65px !important;
    box-shadow: 0px 7px 10px rgb(19, 19, 19) !important;
}

.cascade ul {
    color: rgb(182, 182, 182) !important;
    cursor: pointer !important;
    list-style-type: none !important;
}

.cascade ul li {
    padding: 5px 15px !important;
    font-size: 14px !important;
}
.cascade ul li:hover{
    background-color: #494949;
    color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-bar {
    width: 200px;
    margin: auto auto auto 20px;
}