body {
    background-color: #191919;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    margin: auto auto;
}

.button {
    margin: 50px auto auto auto;
    width: 120px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #1ED761;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #191919;
    outline: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.button-loading {
    margin: 50px auto auto auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #d71e1e;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #191919;
    outline: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

@keyframes loading {
    0% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.1) }
    10% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.3) }
    20% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.5) }
    30% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.7) }
    40% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.9) }
    50% { box-shadow: 0 0px 50px rgba(223, 1, 1, 1) }
    60% { box-shadow: 0 0px 50px rgba(223, 1, 1, 1) }
    30% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.9) }
    70% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.7) }
    80% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.5) }
    90% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.3) }
    100% { box-shadow: 0 0px 50px rgba(223, 1, 1, 0.1) }
}

button:hover {
    background-color: white;
    color: #191919;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

img {
    margin: auto auto 0px auto;
    width: 140px;
}

.particles {
    position: fixed;
    opacity: 0.8;
}